body {
	margin: 0;
	font-family: 'Proxima Nova';
}

header {
	height: 150px;
	padding: 10px;
	text-align: center;         
}

h1 {
	color: #9FB8AD;
	font-family:'Questa Grande';
	font-size: 3em;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #9FB8AD;
}

.image-1 {
	height: 80%;
	width: 90%;
}

.image-2 {
	margin-top: 10px;
	height: 80%;
	width: 75%;
}

.image-3 {
	margin-top: 10px;
	height: 80%;
	width: 90%;
}


.grid-item{
	padding-top: 10px;
}

.box1 {
	height: 300px;
	width: 100%;
	border-radius: 2%;
	box-shadow: 6px 6px 10px #888888;
	text-align: center;
}


.box2 {
	height: 300px;
	width: 100%;
	border-radius: 2%;
	box-shadow: 6px 6px 10px #888888;
	text-align: center;
}

.box3 {
	height: 300px;
	width: 100%;
	border-radius: 2%;
	box-shadow: 6px 6px 10px #888888;
	text-align: center;
}

.box5 {
	height: 300px;
	width: 100%;
	border-radius: 2%;
	box-shadow: 6px 6px 10px #888888;
	text-align: center;
}

.box6 {
	height: 300px;
	width: 100%;
	border-radius: 2%;
	box-shadow: 6px 6px 10px #888888;
	text-align: center;
}

.box7 {
	height: 300px;
	width: 100%;
	border-radius: 2%;
	box-shadow: 6px 6px 10px #888888;
	text-align: center;
}



footer {
	height: 100px;
	background-color: #E6E8E6;
	text-align: center;
}