body {
	margin: 0;
	font-family: 'Proxima Nova';
}

header {
	height: 50px;
	padding: 10px;
	text-align: center;         
}

h1 {
	color: #9FB8AD;
	font-family:'Questa Grande';
}


.section1 {
	height: 200px;
	text-align: center;
}

.section2 {
	height: 500px;
}

.section3 {
	height: 500px;
}

footer {
	height: 100px;
	background-color: #E6E8E6;
}